<h1>記事一覧</h1>
<ul>
  <% @list[:contents].each do |content| %>
    <li>
      <% if content[:eyecatch].present? %>
        <%= image_tag content[:eyecatch][:url], size: '300x160' %> <br>
      <% end %>
      <%= link_to content[:title], show_path(content[:id]) %>
    </li>
  <% end %>
</ul>

<% pagination_num(@offset, @list[:totalCount]).each do |page_num| %>
  <% current_page = (@offset / Microcms::PAGE_LIMIT).floor + 1  %>
  <% if current_page == page_num %> 
    <%= page_num %>
  <% else %>
    <%= link_to page_num, root_path({ offset: (page_num - 1) * Microcms::PAGE_LIMIT }) %>
  <% end %>
<% end %>

