<h1>記事一覧</h1>
<ul>
  <% @list[:contents].each do |content| %>
    <li>
      <% if content[:eyecatch].present? %>
        <%= image_tag content[:eyecatch][:url], size: '300x160' %> <br>
      <% end %>
      <%= link_to content[:title], show_path(content[:id]) %>
    </li>
  <% end %>
</ul>

