<div class='center'>
  <h1>記事一覧</h1>
  <ul class='articleFlexParent'>
    <% @list[:contents].each do |content| %>
      <li class='articleFlexChildren'>
        <div class="col s8 m3">
          <div class="card">
            <div class="card-image">
              <% if content[:eyecatch].present? %>
                <%= image_tag content[:eyecatch][:url], size: '300x160' %> <br>
              <% end %>
            </div>
            <div class="card-action">
              <%= link_to content[:title], show_path(content[:id]) %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

  <ul class='pagination'>
    <% pagination_num(@offset, @list[:totalCount]).each do |page_num| %>
        <% current_page = (@offset / Microcms::PAGE_LIMIT).floor + 1  %>
        <% if current_page == page_num %>
          <li class='active'> <%= link_to page_num, '#' %></li>
        <% else %>
          <li class='waves-effect'>
            <%= link_to page_num, root_path({ offset: (page_num - 1) * Microcms::PAGE_LIMIT }) %>
          </li>
        <% end %>
    <% end %>
  </ul>
</div>